*, html, body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    background-color: aliceblue; 
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    height: 150px;
    background-color: #d9f4ff;
    border-bottom: 2px solid #0099cc;
    border-radius: 8px;
    text-align: center;
}
header h1 {
    height: 100%;
}
header h1 img {
    height: 100%;
}
.menu {
    display:block;
    line-height: 80px;
    text-align: center;
    font-size:initial;
}
.menu ul {
  list-style-type:none;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.menu li {display:inline}
.menu a {
  text-decoration: none;
  color: #037499;
  font-size: 1.1rem;
  transition: color 0.3s;
}
.menu a:hover {
  color: #cc00cc;
}
main {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  gap: 15px;
  width: 100%;
}
article {
    flex: 1; 
    padding: 20px;
    background-color: #fff;
    border: 2px solid #cc00cc;
    border-radius: 8px;
    background-color: #d9f4ff;
}
.right-sidebar {
    width: 250px;
    background-color: #ebf7fa;
    padding: 20px;
    flex-basis: 250px;
    border: 2px solid #00cc18;
    border-radius: 8px;
    background-color: #d9f4ff;
}
.profile-form {
  width: 70%;
  margin: 0 auto;   
}
.profile-form label {
  display: block;     
  margin-top: 10px;
  font-weight: bold;
}
.profile-form input[type="text"],
.profile-form input[type="date"]{
  display: block;     
  width: 100%;
  padding: 5px;
  margin-top: 3px;
}
.gender {
  margin-top: 5px;
}
.gender label {
  display: block;     
}
.profile-form button {
  display: block;
  margin: 15px auto 0 auto; 
  padding: 8px 16px;
  font-size: 14px;
  background-color: #0099cc;
  color: white;
  border: none;
  cursor: pointer;
}
.profile-form button:hover {
  background-color: #0077aa;
}
footer{
    min-height: 100px;
    border-top: 2px solid #0099cc;
    border-radius: 8px;
    background-color: #d9f4ff;
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  header{
    height: 150px;
    border-bottom: 2px solid #0099cc;
    border-radius: 8px;
  }
h1 {
    margin: 0;  
    height: 100%;
    width: auto;
}
h1 img {
    max-width: 100%;  
    height: 100%;    
}
  main {
    flex-direction: column;
  }
  .right-sidebar {
    width: 100%;
    order: 2;
  }
  article {
    width: 100%;
    order: 1;
  }
}

@media (max-width: 800px) {
  header{
    height: 150px;
    border-bottom: 2px solid #0099cc;
    border-radius: 8px;
  }
  h1 {
    height: 100%;
    width: auto;
  }
  h1 img {
    max-width: 100%;  
    height: 100%;
  }
  main {
    flex-direction: column;
  }
  .right-sidebar {
    width: 100%;
    order: 2;
  }
  article {
    width: 100%;
    order: 1;
  }
}